

<section class="main_block">
  <h4>Все акции</h4>
    <ul>
      <% @stocks.each do |stock| %>
          <li>
              <%= image_tag stock.images_url(:thumb) %>
              <%= stock.description %>
          </li>

      <% end %>
    </ul>

  <%= will_paginate %>
</section>