<div class = "admin_column_menu">
  <p><%= link_to "Categories", categories_path %></p>
  <p><%#= link_to "Products", products_path %></p>
  <p><%= link_to "Stock", stocks_path %></p>
  <p><%= link_to "Delivery", deliveries_path %></p>
</div>