<div class = "bkg_images"}>
  <section class = "phone"> </section>
  <section class = "bottle"> </section>
  <section class = "top_light"></section>
<header class = "header">
  <article class = "original_design"></article>
  <section class = "logo"> </section>
  <section class = "hours"> </section>
  <nav class = "navigation">
    <ul class="button">
      <a href="<%= root_path %>">
          <li class="main_button">
          </li>
      </a>
      <a href="<%= categories_path %>">
          <li  class="catalog_button">
          </li>
      </a>
      <a href="">
          <li  class="delivery_button">
          </li>
      </a>
      <a href="#">
        <li  class="rules_button">
        </li>
      </a>
      <a href="#">
        <li  class="stocks_button">
        </li>
      </a>

      <li>
         <a href="#"><b>Контакты</b></a>
      </li>
    </ul>
  </nav>
  <!--<section class = "filter_by_price"> </section>-->
  <!--<section class = "filter_bylitr"> </section>-->
  <!--<form name = "form_for_price" >-->
    <!--<input type= "radio", selected =>"false"}>-->
      <!--от 0 до 1000 баллов-->
    <!--<input type= "radio", selected = "false"}>-->
      <!--от 1000 до 2000 баллов-->
    <!--<input type= "radio", selected = "false"}>-->
      <!--от 3000 до 4000 баллов-->
    <!--<input type= "radio", selected = "false"}>-->
  <!--</form>-->
  <!--<form name = "form_for_litr" >-->
    <!--<input type= "radio", selected = "false"}>-->
      <!--от 0 до 0, 5 литра-->
    <!--<input type= "radio", selected = "false"}>-->
      <!--от 0,7 до 1 литра-->
    <!--<input type= "radio",:selected = "false"}>-->
      <!--от 1 - более литра-->
  <!--</form>-->
</header>





