<ul id="products_list">
    <% @products.each do |product| %>
        <li class="product_form" >
          <section  class = "product_name_background">
          </section>
          <a href="" class = "product_link">
            <%= product.name%>
          </a>
          <%= image_tag product.images_url(:thumb), :class => "img" %>
        </li>
    <% end %>
</ul>