<!--<section class="products_background">-->
<!--</section>-->
<section class = "last_added_products_title">
</section>
<section>
     <%= render "shared/product_preview", :view_products => @products %>
</section>