<ul id="products_list">
    <% view_products.each do |product| %>
      <li class="product_form" >
          <section  class = "product_name_background">
            <a href="<%= category_product_path(product.categories_id, product.id) %>" class = "product_link">
              <%= product.name %>
            </a>
          </section>

          <%= image_tag product.images_url(:thumb), :class => "img" %>
       </li>
    <% end %>
  <%= will_paginate view_products %>
</ul>