<section class="products_background">
</section>
<section class = "last_added_products_title">
</section>
<section>
    <ul id="products_list">
        <%= render "shared/product_preview" %>
    </ul>
</section>