
<h1>Добавить дотавку</h1>
<div class="form-group">
    <%= form_for @delivery, :html => {:multipart => true} do |f| %>

        <%= render 'shared/error_messages', object: @delivery %>

        <%= f.text_area :description, :class => 'form-control', :placeholder => "Описание" %>

        <%= f.submit 'Submit', :class => "btn btn-primary" %>

    <% end %>
</div>