
<%= render "shared/column_menu" %>

<section class="main_block">
  <h4>Доставка</h4>
    <%= @delivery.description %><br>
  <%= link_to "Редактировать", edit_delivery_path(@delivery) %>
  <%= link_to "Удалить", @delivery, method: :delete, :confirm => "Are you Sure?" %>
</section>
