

<ul class = "cart_list">
  <%= render(cart.line_items) %>
    <li>Total</li>
    <li  ><%= cart.total_price %></li>
    <li><%= link_to 'Сделать заказ', new_order_path %></li>
    <li><%= link_to 'Очистить товары?' , cart, :method => :delete,
                    :confirm => 'Are you sure?' %></li>

</ul>
<br />

<br />
