
<ul class = "cart_list">
  <%= render(cart.line_items) %>
  <li><b>Итог</b></li>
  <li></li>
  <li ><b><%= @cart.total_price %></b></li>
  <li></li>
  <li><%= button_to 'Сделать заказ', new_order_path, :method => :get %></li>
  <li><%= button_to 'Очистить товары?' , cart, :method => :delete,
                  :confirm => 'Are you sure?' %></li>
</ul>
<br />

<br />