<% provide(:title, 'Главная страница') %>
<div class = "bkg_images">
  <%= render "shared/bg_images" %>
</div>
<header class = "header">
  <%= render "shared/header" %>
</header>
<section class = "categories">
  <%= render "shared/categories" %>
</section>
<section class="products_block">
  <section class="main_background">
  </section>
  <section class = "about_us_title">
  </section>
  <section class="about_us_content">
    <%= @about_message.content %>
  </section>
</section>
