
$lightGrey: #F5F5F5;
$grey: #545454;

.admin_column_menu {
  width: 200px;
  height: 100%;
  background-color: $lightGrey;
  float: left;
  text-align: center;
}

ul {
  float: right;
  list-style: none;
  li {
    width: 100px;
    height: 20px;
    float: left;
    margin-left: 10px;
  }

}

#signout {
  background-color: $grey;
}
