//$(document).ready(function(){
//    $().on("click", function()
//    {
//        alert("htllo");
//    });
//});

$(document).ready(function() {
    $("#button").click(function() {
        var message = $("vvdsv​");
        $(this).replaceWith("<div>" + message + "</div>");
//        $(this).remove();
    });
});
