
<li class="product_line"><%= line_item.product.name  %></li>
<li><input type="text" value="<%=  line_item.quantity %>"class="product_input" ></li>
<li class="product_line"><%= line_item.product.price %></li>

