<% provide(:title, 'Правила продажи') %>
<div class = "bkg_images">
  <%= render "shared/bg_images" %>
</div>
<header class = "header">
    <%= render "shared/header" %>
</header>
<section class = "categories">
    <%= render "shared/categories" %>
</section>
<section class="products_block">
  <section class="products_background">
  </section>
  <section class="sales_title">
  </section>
  <section class = "sales_background">
    <% @sale_rule.each do |rule| %>
      <%= rule.description %>
    <% end %>
  </section>
</section>
